@{
    ViewBag.Title = "Index";
}
@section header {
<header class="jumbotron subhead">
    <div class="container">
        <h1>Welcome</h1>
    </div>
</header>
}

<div class="row">
    <h2>Where do you want to go today?</h2>
    <ul class="nav nav-tabs nav-stacked">
        <li><a href="">Testing</a></li>
        <li><a href="">Testing2</a></li>
        <li><a href="">Testing3</a></li>
    </ul>
</div>