@{
    ViewBag.Title = "Index";
}
@section header {
<header class="jumbotron subhead">
    <div class="container">
        <h1>Paragon</h1>
    </div>
</header>
}

<div class="row">
    <h3>Paragon is an online text-based procedural RPG in an original new world</h3>
    <ul class="nav nav-tabs nav-stacked">
        <li>
            <a class="media" href="" >
                <div class="pull-left">
                    <img class="media-object" src="http://placehold.it/64x64" />
                </div>
                <div class="media-body">
                    <h4>Start a new campaign</h4>
                </div>
            </a>
        </li>
        <li class="disabled">
            <a class="media" href="" >
                <div class="pull-left">
                    <img class="media-object" src="http://placehold.it/64x64" />
                </div>
                <div class="media-body">
                    <h4>Continue an existing campaign</h4>
                </div>
            </a>
        </li>
        <li class="disabled">
            <a class="media" href="" >
                <div class="pull-left">
                    <img class="media-object" src="http://placehold.it/64x64" />
                </div>
                <div class="media-body">
                    <h4>About Paragon</h4>
                </div>
            </a>
        </li>
    </ul>
</div>