@{
    ViewBag.Title = "Index";
}
@section header {
<header class="jumbotron subhead">
    <div class="container">
        <h1>Paragon</h1>
    </div>
</header>
}

<div class="row">
    <h3>Paragon is an online text-based procedural RPG in an original new world</h3>
    <ul class="nav nav-tabs nav-stacked">
        <li>
            <a class="media" href="" >
                <div>
                    <div class="pull-left">
                        <img class="media-object" src="http://placehold.it/48x48" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">New campaign</h4>
                        <p>Start a new campaign</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="disabled">
            <a class="media" href="" >
                <div class="pull-left">
                    <img class="media-object" src="http://placehold.it/48x48" />
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Continue</h4>
                    <p>Continue an existing campaign</p>
                </div>
            </a>
        </li>
        <li class="disabled">
            <a class="media" href="" >
                <div class="pull-left">
                    <img class="media-object" src="http://placehold.it/48x48" />
                </div>
                <div class="media-body">
                    <h4 class="media-heading">About</h4>
                    <p>Learn more about paragon</p>
                </div>
            </a>
        </li>
    </ul>
</div>