@using Paragon.Infrastructure

@{
    ViewBag.Title = "Index";
}
@section header {
<ul class="breadcrumb">
  <li><a href="#">World</a> <span class="divider">/</span></li>
  <li><a href="#">The Empire</a> <span class="divider">/</span></li>
  <li class="active">Small Village</li>
</ul>    
}

<div class="row">
    <h4>Small Village</h4>
    <p>This is quite a small village you've stumbled into.</p>
    <p>There but a few houses, a blacksmith and an inn in the outskirts of town.</p>
    <div class="alert alert-block">
        <h4>Suspicious behavior <span class="label label-warning pull-right">Perception</span></h4>
        <p>You see someone sneaking out behind the inn.</p>
        <hr />
        <a href="" class="btn btn-large">Engage</a>
        <a href="" class="btn btn-large">Follow</a>
        <a href="" class="btn btn-large pull-right">Ignore</a>
    </div>
    <div class="accordion">
    <div class="accordion-group">
    <ul class="nav nav-tabs nav-stacked">
        <li>
            <a class="media" href="@Url.Start()" >Explore</a>
        </li>
        <li class="disabled">
            <a class="media" href="" >
                <div class="pull-left">
                    <img class="media-object" src="http://placehold.it/64x64" />
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Continue</h4>
                    <p>Continue an existing campaign</p>
                </div>
            </a>
        </li>
        <li class="disabled">
            <a class="media" href="" >
                <div class="pull-left">
                    <img class="media-object" src="http://placehold.it/64x64" />
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Scoreboard</h4>
                    <p>Visit the scoreboard of every playthrough</p>
                </div>
            </a>
        </li>
        <li class="disabled">
            <a class="media" href="" >
                <div class="pull-left">
                    <img class="media-object" src="http://placehold.it/64x64" />
                </div>
                <div class="media-body">
                    <h4 class="media-heading">About</h4>
                    <p>Learn more about paragon</p>
                </div>
            </a>
        </li>
    </ul>
    </div>
    </div>
</div>