@using Paragon.Infrastructure

@{
    ViewBag.Title = "Index";
}
@section header {
<ul class="breadcrumb">
  <li><a href="#">World</a> <span class="divider">/</span></li>
  <li><a href="#">The Empire</a> <span class="divider">/</span></li>
  <li><a href="#">Small Village</a> <span class="divider">/</span></li>
  <li class="active">Secret Meeting</li>
</ul>    
}

<div class="row">
    <h4>Secret Meeting</h4>
    <p>You follow the suspicious man leaving the inn to a secret meeting in a dark alley.</p>
    <p>It is dark, you cannot make out any faces. They are nervous.</p>
    <p>You hear them talking about danger and treasure.</p>
    <ul class="nav nav-tabs nav-stacked">
        <li>
            <a class="media" href=""><h4><i class="icon icon-eye-open"></i> Eavesdrop <span class="label pull-right">Perception</span></h4></a>
        </li>
        <li>
            <a class="media" href=""><h4><i class="icon icon-comment-alt"></i> Talk</h4></a>
        </li>
        <li>
            <a class="media" href="@Url.Current("..")"><h4><i class="icon icon-arrow-left"></i> Leave</h4></a>
        </li>
    </ul>
</div>